---
import MainLayout from "../Layouts/MainLayout.astro"

let {title} = Astro.props
---



    <MainLayout title="Portfolio" >
    
    <h1 class="is-size-1 has-text-centered">From Portfolio</h1>
    
    </MainLayout>