<section class='section has-background-light'>
        <div class="container"> 
            <div class="columns is-variable  is-8">               
                <div class="column is-6">
                    <div class="image  has-text-centered">
                        <img  src="/assets/about.svg" alt='about'>
                    </div>                     
                </div>
                <div class="column is-6">
                    <p class="is-size-1 is-size-3-mobile has-text-weight-bold is-family-code">About me</p>
                    <p class="is-size-6 has-text-weight-light is-family-secondary">I describe myself as someone who's persistant, a quick learner and loves problem solvingby simple and scalable solution. Ambitious entry level candidate, still with no professional experience but
                    willing to start. Looking forward to demonstrating my abilities in
                    learning quickly. I'm currently seeking opportunities to boost my career
                    within the developers sector, expand and apply my technical skill set.
                    </p>
                </div>
            </div>
        </div>
    </section>