<section class='section '>
    <h1 class='is-size-1 is-size-3-mobile  has-text-centered has-text-weight-bold is-family-code pb-6'> Projects</h1>

    <article >

        <div class='container'>
            <div class='columns is-variable  is-2'>
                <div class='column is-2'>
                    <div class='card'>
                    <div class='card-image'>
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>                   
                    </div> 
                    <div class="card-content">
                        <div class="card-media">
                            <div class="media-content">
                                <p >John Smith</p>
                                <p >johnsmith</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class='column is-2'>
                    <div class='card'>
                    <div class='card-image'>
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>                   
                    </div> 
                    <div class="card-content  ">
                        <div class="card-media">
                            <div class="media-content">
                                <p >John Smith</p>
                                <p >johnsmith</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="column is-6 pl-6">
                    <div class="image  has-text-centered">
                        <img  src="/assets/project.svg" alt='projects'>
                    </div>  
                </div>
            </div>
        </div>
    </article>
        
    </section>