---

---

<style>

    .yan {
        width: 150px;
    }
</style>
  
    <section class='section container '>
        <h1 class="is-size-1 is-size-3-mobile  has-text-centered has-text-weight-bold is-family-code ">Skill</h1>


      <div class="is-flex ">
          <div class="box yan is-flex" >
        I'm in a box.
           I'm in a box.
        </div>
        
        
      
      </div>
                
            
        
        
    </section>
